<section class="bg-slate-100">
    <!-- Hero Section -->
    <div class="container mx-auto grid lg:grid-cols-2">
        <div>
            <img class="md:h-96 py-5 m-auto" src="/img/hero.png" alt="">
        </div>
        <div>
            <img src="/img/hero2.png" alt="">
        </div>
    </div>
    <!-- Table -->
    <div class="py-10 ">
        <h1 class="uppercase text-center font-bold text-4xl text-sky-600">COVID-<span class="text-black">19
            </span>Realtime Data
        </h1>
    </div>
    <div class="container mx-auto p-2">
        <table class="w-full table-auto bg-white">
            <thead>
                <tr class="text-xl bg-gray-800">
                    <th class="mx-4 py-2 text-center text-green-500">States</th>
                    <th class="mx-4 py-2 text-center text-sky-400">Indian</th>
                    <th class="mx-4 py-2 text-center text-pink-400">Foreign</th>
                    <th class="mx-4 py-2 text-center text-purple-400">Recovered</th>
                    <th class="mx-4 py-2 text-center text-red-400">Deaths</th>
                    <th class="mx-4 py-2 text-center text-yellow-500">Total Cases</th>
                </tr>
            </thead>
            <tbody>

                <% for (let i in response) { %>
                    <tr class="font-bold">
                        <td class="px-4 py-2 text-center border">
                            <%= response[i].loc %>
                        </td>
                        <td class="px-4 py-2 text-center border">
                            <%= response[i].confirmedCasesIndian %>
                        </td>
                        <td class="px-4 py-2 text-center border">
                            <%= response[i].confirmedCasesForeign %>
                        </td>
                        <td class="px-4 py-2 text-center border">
                            <%=response[i].discharged%>
                        </td>
                        <td class="px-4 py-2 text-center border">
                            <%=response[i].deaths%>
                        </td>
                        <td class="px-4 py-2 text-center border">
                            <%=response[i].totalConfirmed%>
                        </td>

                    </tr>
                    <% } %>


            </tbody>
        </table>
    </div>

</section>